@font-face {
    font-family: "Norse-Bold";
    src: url("fonts/Norse-Bold.otf");
}
body{
    display: flex;
    align-items: stretch;
    width: 100vw;
    height: 100vh;
    font-family: "Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-sans;
}
abbr[title="required"]{
    text-decoration: none;
    color: red;
}
/***********left side of site*********/
.leftside{
    width: 30%;
    height: 100%;
    position: relative;
}
.sideimage{
    width: 100%;
    height: inherit;
}
.sideimage img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    width: 100%;
    height: 7vw;
    position: absolute;
    top: 11vw;
    background-color: rgba(255, 255, 255, 0.068);
}
.logo img{
    height: 100%;
}
.logo span{
    font-family: "Norse-bold";
    font-size: 68px;
    color: white;
}
.credit{
    color: white;
    position: absolute;
    bottom: 4px;
    width: 100%;
    text-align: center;
    font-size: 12px;
}
.credit a:visited,.credit a:hover{
    color: white;
}
/**************right side of site*********/
.rigthside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 100%;
    background-color: rgba(167, 164, 164, 0.2);
}
.top{
    font-weight: 550;
    font-size: 20px;
    margin: 3vh;
}
/****** middle-form *******/
.middle{
    padding: 30px;
    box-shadow: 3px 3px 2px rgb(128, 128, 128, 0.2);
    margin: 0;
    background-color: white;
}
.legend{
    padding: 20px 0;
}
.inputs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: calc(2*200px + 50px);
}
.inputs > div{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 3px 0;
}
.inputs label{
    font-size: 10px;
    font-weight:400;
}
.inputs input{
    height: 30px;
    padding: 1px 1px 1px 16px;
    font-size: 14px;

    border: 1px solid #E5E7EB;
    border-radius: 3px;
}
.inputs input:focus{
    outline: none;
    border: 1px solid blue;
    box-shadow: 2px 2px 2px rgb(0, 0, 255, 0.2);
}
.inputs input:valid{
    background: url(images/check.svg);
    background-repeat: no-repeat;
    background-position: 2px;
    background-size: 12px;
    border: 1px solid #008000;
}
.inputs input:invalid:not(:focus):not(:placeholder-shown) {
    background: url(images/xmark.svg);
    background-repeat: no-repeat;
    background-position: 2px;
    background-size: 12px;
    border: 1px solid #ff0000;
}
.inputs input:invalid:focus:not(:placeholder-shown) {
    background: url(images/xmark.svg);
    background-repeat: no-repeat;
    background-position: 2px;
    background-size: 12px;
    border: 1px solid #ff0000;
}
.inputs input:invalid:focus:not(:placeholder-shown) ~ .error {
    max-height: 50px;
}
.inputs .error{
    max-height: 0;
    transition: 0.28s;
    overflow: hidden;
    color: red;
    font-style: italic;
    font-size: 10px;
}
/*********** submit button *******/
.bottom{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    font-size: 14px;
    margin: 30px 0px 0px 30px;
}
.bottom button{
    border: none;
    background-color: rgb(35 43 71);
    color: #E5E7EB;
    font-weight: 800;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    margin: 0px 0px 20px 0px;
}
.bottom button:hover{
    background-color: rgb(42, 47, 66);
    box-shadow: 3px 3px 2px rgb(0, 0, 255, 0.2);
}
.bottom span{
    font-size: smaller;
}
.bottom a,.bottom a:visited, .bottom a:hover{
    text-decoration: none;
    color: rgb(35 43 71);
    font-weight: 900;
}